version: '3.1'
services:
  mysql:
    restart: always
    build: ../../docker/mysql-xtrabackup/
    ports:
    - 3306:3306
    command: ['mysqld','--character-set-server=utf8']
    volumes:
    - sqlbackup:/mnt/backups
    # declining to define volume for ephemeral dev container
    #- databasevolume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  openemr:
    restart: always
    build: ../../docker/openemr/7.0.2
    ports:
    - 80:80
    - 443:443
    volumes:
    - logvolume01:/var/log
    - sitevolume:/var/www/localhost/htdocs/openemr/sites
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASS: root
      MYSQL_USER: openemr
      MYSQL_PASS: openemr
      OE_USER: admin
      OE_PASS: pass
      OPENEMR_DOCKER_ENV_TAG: lightsail
    links:
    - mysql
volumes:
  logvolume01: {}
  sitevolume: {}
  sqlbackup: {}
  #databasevolume: {}
